* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0 0 0 0;
}
a {
	text-decoration: none;
	cursor: pointer;
}

header {
	background: rgba(255, 228, 196, 0.658);
	margin: 0px 0px 20px 0px;
}
.conteiner {
	width: 1200px;
	margin: auto;
}
.row {
	display: flex;
}
.row_f {
	justify-content: space-around;
	line-height: 3;
}
.logo {
	margin: 0px 40px;
}
.header_link {
	margin: 0 20px;
}

.block {

}
.block_left {
	display: flex;
	width: 50%;
	padding: 0px 60px;
	align-items: center;
	
}
.block_left span {
	font-weight: bold;
	font-size: 50px;

}

.block_right {
	width: 50%;
}
.block_right img {
	width: 100%;
}